//piece components
@import "components/button";
@import "components/nav";
@import "components/synopsis_boxes";

//design components
@import "design/animations";

//functionality
@import "functionality/mixins";

//grid
@import "layout/grid";


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%; /*62.5% of default (16px) is 10px. one REM === 10px*/
}
body {
  font-family: 'Muli', sans-serif;
  font-weight: 1.6rem;
  line-height: 1.7;
  color: #777777;
  overflow-x: hidden;
  box-sizing: border-box;
}

/*** HEADER ***/
.header {
  height: 100vh;
  background-image: linear-gradient(
      to right bottom, rgba(255, 255, 255, 0.92), 
      rgba(255, 255, 255, 0.92)), 
      url("../img/hero_background.jpg")
  ;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  position: relative;
  background-size: cover;
}
.primary_heading {
  margin: 0 auto;
  color: #333333;
  text-transform: uppercase;
  backface-visibility: hidden;
  max-width: $max_width;
  height: calc((100vh - #{$nav_height}) - #{$address_bar_height});
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: left;
  margin-top: -5rem;

  &_main {
    display: block;
    font-size: 6.8rem;
    font-weight: 900;
    letter-spacing: .9rem;
    line-height: 1.05em;
    animation-name: moveInLeft;
    animation-duration: 1.5s;
    /*animation-delay: .1s;*/
    color: #111111;
    width: 70rem;
  }

  &_sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: .5rem;
    animation-name: moveInRight;
    animation-duration: 1.5s;
    /*animation-delay: .1s;*/
    color: #555555;
    margin: 3rem 0;
  }
}

.offers {
  animation-name: moveInBottom;
  animation-duration: 1.5s;
  /*animation-delay: .1s;*/
}