//COLORS
$primary_color: #ff5657;
$secondary_color: #ff3335;
$lighter_gray: #f7f7f7;
$light_gray: #777;
$dark_gray: #222;
$very_dark: #010101;
$black: #000;
$white: #fff;

//FONT SIZES
$default_font_size: 1.6rem;

//GRID
$grid_width: 114rem;
$gutter_vertical: 8rem;
$gutter_horizontal: 6rem;

//WIDTH
$max_width: 120rem;

//NAV & ADDRESS BAR HEIGHT
$nav_height: 10rem;
$address_bar_height: 2.5rem;