/*BUTTON*/
#button {
    height: 5.5rem;
    width: 25rem;
    display: grid;
    place-items: center;
    background: #ff5657;
    color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-size: 1.6rem;
    text-transform: uppercase;
    cursor: pointer;
  }
  #button:link,
  #button:visited {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  #button:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background: #ff3335;
    cursor: pointer;
    }
  #button:active {
    transform: translateY(-.1rem);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

  .button_container {
    position: relative;
    margin: 0;
    width: 25rem;
  }
  .button:link,
  .button:visited {
    text-transform: uppercase;
  }
  .button:hover {
    transform: translateY(-.3rem);
    /*first argument is X offset, second is Y offset, third is blur*/
    box-shadow: 0 .1rem .3rem rgba(0,0,0,0.12), 0 .1rem .2rem  rgba(0,0,0,0.24);
  }
  .button:active {
    transform: translateY(-1rem);
    box-shadow: 0 .1rem .3rem rgba(0,0,0,0.12), 0 .1rem .2rem  rgba(0,0,0,0.24);
  }
  
  .button::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition-duration: .6s;
  }
  
  .button_white::after {
    background-color: #ff5657;
    opacity: .3;
  }
  .button:hover::after {
    transform: scaleY(1.4) scaleX(1.6);
    opacity: 0;
  }