/*BUTTON*/
#button {
  height: 5.5rem;
  width: 25rem;
  display: grid;
  place-items: center;
  background: #ff5657;
  color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  font-size: 1.6rem;
  text-transform: uppercase;
  cursor: pointer; }

#button:link,
#button:visited {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

#button:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background: #ff3335;
  cursor: pointer; }

#button:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.button_container {
  position: relative;
  margin: 0;
  width: 25rem; }

.button:link,
.button:visited {
  text-transform: uppercase; }

.button:hover {
  transform: translateY(-0.3rem);
  /*first argument is X offset, second is Y offset, third is blur*/
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.12), 0 0.1rem 0.2rem rgba(0, 0, 0, 0.24); }

.button:active {
  transform: translateY(-1rem);
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.12), 0 0.1rem 0.2rem rgba(0, 0, 0, 0.24); }

.button::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition-duration: .6s; }

.button_white::after {
  background-color: #ff5657;
  opacity: .3; }

.button:hover::after {
  transform: scaleY(1.4) scaleX(1.6);
  opacity: 0; }

.nav_container {
  background-color: white; }

.nav {
  display: flex;
  justify-content: space-between;
  max-width: 120rem;
  z-index: 1000;
  margin: auto; }
  .nav ul {
    display: flex;
    justify-content: space-between;
    width: 55%; }
    .nav ul li {
      list-style: none;
      overflow: hidden;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .nav ul li:hover {
        background: #ff3335; }
      .nav ul li a {
        color: #555555;
        height: 10rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /*place-items: center;*/
        text-decoration: none;
        font-size: 1.6rem; }
        .nav ul li a:hover {
          background: #ff3335;
          color: white; }

.nav_logo_container {
  /*display: grid;*/
  /* place-items: center; */
  z-index: 1000;
  height: 10rem; }

.nav_logo_container_logo {
  height: 15rem;
  bottom: 1.5rem;
  position: relative; }

.request {
  position: relative;
  top: 2.2rem;
  min-width: 15rem;
  margin-left: 3rem; }

.address_bar_container {
  width: 100vw;
  height: 2.5rem;
  background: #ff5657;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.12), 0 0.1rem 0.2rem rgba(0, 0, 0, 0.24); }
  .address_bar_container_address_bar {
    max-width: 120rem;
    font-size: 1.4rem;
    color: white;
    margin: 0 auto;
    position: relative;
    top: .2rem; }
    .address_bar_container_address_bar a {
      color: white; }

.section_synopsis_container {
  margin: 0 auto;
  height: 20rem;
  max-width: 120rem;
  display: flex;
  flex-direction: row;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.12), 0 0.1rem 0.4rem rgba(0, 0, 0, 0.12);
  position: relative;
  top: -15rem; }
  .section_synopsis_container_boxes {
    background-color: #fcfcfc;
    width: 20%;
    transition: all .2s;
    text-align: center; }
    .section_synopsis_container_boxes:not(:last-child) {
      border-right: 1px solid #f5f5f5; }
    .section_synopsis_container_boxes:hover {
      transform: scale(1.12);
      z-index: 25;
      border: none;
      box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.1), 0 1.5rem 1rem rgba(0, 0, 0, 0.4);
      background-color: #ff5657; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem); }
  100% {
    opacity: 1;
    transform: translate(0px); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(20rem); }
  100% {
    opacity: 1;
    transform: translate(0px); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0px); } }

/* .button_animated {
  animation: moveInBottom .5s ease-out .5s;
  animation-fill-mode: backwards; 
} */
.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc((2 * (100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc((2 * (100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc((3 * (100% - 3 * 6rem) / 4) + (2 * 6rem)); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /*62.5% of default (16px) is 10px. one REM === 10px*/ }

body {
  font-family: 'Muli', sans-serif;
  font-weight: 1.6rem;
  line-height: 1.7;
  color: #777777;
  overflow-x: hidden;
  box-sizing: border-box; }

/*** HEADER ***/
.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.92), rgba(255, 255, 255, 0.92)), url("../img/hero_background.jpg");
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  position: relative;
  background-size: cover; }

.primary_heading {
  margin: 0 auto;
  color: #333333;
  text-transform: uppercase;
  backface-visibility: hidden;
  max-width: 120rem;
  height: calc((100vh - 10rem) - 2.5rem);
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: left;
  margin-top: -5rem; }
  .primary_heading_main {
    display: block;
    font-size: 6.8rem;
    font-weight: 900;
    letter-spacing: .9rem;
    line-height: 1.05em;
    animation-name: moveInLeft;
    animation-duration: 1.5s;
    /*animation-delay: .1s;*/
    color: #111111;
    width: 70rem; }
  .primary_heading_sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: .5rem;
    animation-name: moveInRight;
    animation-duration: 1.5s;
    /*animation-delay: .1s;*/
    color: #555555;
    margin: 3rem 0; }

.offers {
  animation-name: moveInBottom;
  animation-duration: 1.5s;
  /*animation-delay: .1s;*/ }
